.header {
  height: 1.3333rem;
  background-color: #F4483E;
  display: flex;
  align-items: center;
  position: relative;
}
.header .left {
  flex: 1;
  width: 4.946543rem;
  height: 0.66665rem;
  position: absolute;
  left: 0.466655rem;
  top: 50%;
  transform: translateY(-50%);
}
.header .left a {
  display: inline-block;
  background: url("../images/icon_bar.png") no-repeat -208px -20px;
  width: 0.333325rem;
  height: 0.79998rem;
}
.header h1 {
  display: inline-block;
  color: #fff;
  text-align: center;
  flex: 1;
}
[data-dpr='1'] .header h1 {
  font-size: 22px;
}
[data-dpr='2'] .header h1 {
  font-size: 44px;
}
[data-dpr="3"] .header h1 {
  font-size: 66px;
}
.header .right {
  flex: 1;
  position: absolute;
  right: 0.26666rem;
  width: 0.906644rem;
  height: 0.906644rem;
}
.header .right img {
  width: 0.906644rem;
}
.mtop .mheader {
  background: #f4483e;
}
/*------------- S 优惠券商品列表 ------------ */
.conponproduct-main .show {
  background: #fff;
  text-align: center;
  height: 0.853312rem;
  line-height: 0.853312rem;
  color: #999;
}
[data-dpr='1'] .conponproduct-main .show {
  font-size: 12px;
}
[data-dpr='2'] .conponproduct-main .show {
  font-size: 24px;
}
[data-dpr="3"] .conponproduct-main .show {
  font-size: 36px;
}
.conponproduct-main .products-list .product-item {
  margin-top: 0.106664rem;
  background: #fff;
  min-height: 3.19992rem;
  padding: 0.26666rem 0;
  padding-right: 0.79998rem;
  position: relative;
}
.conponproduct-main .products-list .product-item:before {
  content: '';
  height: 100%;
  width: 0.79998rem;
  position: absolute;
  right: 0;
  top: 0;
  background-size: 0.53332rem;
}
.conponproduct-main .products-list .product-item > a {
  display: block;
  width: 100%;
}
.conponproduct-main .products-list .product-item .leftpic {
  float: left;
  width: 3.19992rem;
  min-height: 3.19992rem;
}
.conponproduct-main .products-list .product-item .leftpic img {
  display: block;
  margin: 0 auto;
  width: 2.6666rem;
}
.conponproduct-main .products-list .product-item .rightinfo {
  overflow: hidden;
}
.conponproduct-main .products-list .product-item .rightinfo .tit > .name {
  font-weight: normal;
  line-height: 0.53332rem;
}
[data-dpr='1'] .conponproduct-main .products-list .product-item .rightinfo .tit > .name {
  font-size: 14px;
}
[data-dpr='2'] .conponproduct-main .products-list .product-item .rightinfo .tit > .name {
  font-size: 28px;
}
[data-dpr="3"] .conponproduct-main .products-list .product-item .rightinfo .tit > .name {
  font-size: 42px;
}
.conponproduct-main .products-list .product-item .rightinfo .tit > .price {
  font-weight: 600;
}
[data-dpr='1'] .conponproduct-main .products-list .product-item .rightinfo .tit > .price {
  font-size: 14px;
}
[data-dpr='2'] .conponproduct-main .products-list .product-item .rightinfo .tit > .price {
  font-size: 28px;
}
[data-dpr="3"] .conponproduct-main .products-list .product-item .rightinfo .tit > .price {
  font-size: 42px;
}
.conponproduct-main .products-list .product-item .rightinfo .time {
  margin-top: 0.319992rem;
  color: #EE7700;
}
.bottomInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.66665rem 0;
  background-color: #EFEFEF;
}
[data-dpr='1'] .bottomInfo {
  font-size: 16px;
}
[data-dpr='2'] .bottomInfo {
  font-size: 32px;
}
[data-dpr="3"] .bottomInfo {
  font-size: 48px;
}
.bottomInfo .login {
  flex: 1;
  height: 0.79998rem;
  border: 1px solid #aaa;
  background-color: #EFEFEF;
  border-left: none;
  border-right: none;
}
.bottomInfo .register {
  flex: 1;
  border: 1px solid #aaa;
  background-color: #EFEFEF;
  height: 0.79998rem;
}
.bottomInfo .top {
  flex: 2;
  height: 0.79998rem;
  border: 1px solid #aaa;
  background-color: #EFEFEF;
  border-left: none;
  border-right: none;
  position: relative;
}
[data-dpr='1'] .bottomInfo .top {
  font-size: 16px;
}
[data-dpr='2'] .bottomInfo .top {
  font-size: 32px;
}
[data-dpr="3"] .bottomInfo .top {
  font-size: 48px;
}
.bottomInfo .top::after {
  content: '';
  position: absolute;
  background: url("../images/top.jpg") no-repeat;
  width: 0.93331rem;
  height: 0.93331rem;
  left: 20%;
  top: 80%;
  transform: translate(-50%, -50%);
  background-size: 50%;
}
.copyright {
  text-align: center;
  background-color: #EFEFEF;
}
.copyright p {
  font-weight: 700;
}
[data-dpr='1'] .copyright p {
  font-size: 16px;
}
[data-dpr='2'] .copyright p {
  font-size: 32px;
}
[data-dpr="3"] .copyright p {
  font-size: 48px;
}
.copyright p i {
  color: #FD4373;
}
.copyright p s {
  color: #000;
  margin: 0 0.13333rem;
}
.copyright p span {
  color: #ccc;
}
